/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff0070;
  --accent-font: 'IBM Plex Mono';
  --main-color: #DB00FF;
  --hover-color: #FF007066;
  --background-image: url(../images/cover-image-dark.png);
  --title-decor-color: #ff0070;
  --title-color: #000028;
  --text-color:  #F1B2CE;
  --decorated-color: #ff0070;
  --display: flex;
}
