/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --main-color: #FFC2E6;
  --background-image: url(/images/cover-image-light.png);
  --title-decor-color: #FF8DCB;
  --background-color: #ffffff;
  --text-color: #353430;
  --decorated-color: #353430;
}


