/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: var(--background-image);
}

.header {
  display: grid;
  justify-items: end;
  align-items: center;
  position: relative;
  height: max(668px, 100vh);
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3, 1fr);
}

 .decorated-zone::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 25px;
  top: 10px;
  right: 10px;
  z-index: 1;
  border-top: 1px solid var(--decorated-color);
  border-right: 1px solid var(--decorated-color);
 }

 .decorated-zone::after {
  content: '';
  position: absolute;
  width: 23px;
  height: 25px;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  border-bottom: 1px solid var(--decorated-color);
  border-left: 1px solid var(--decorated-color);
 }

 .header__rec {
  display: var(--display);
  gap: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 10px;
  right: 15px;
  align-items: center;
  font-family: var(--accent-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: var(--title-decor-color);
}

.header__rec::after {
  content: '';
  width: 13px;
  height: 13px;
  background-color: var(--accent-color);
  filter: blur(2px);
  border-radius: 15px;
}

.header__theme-menu {
  margin-inline-end: 12px;
  grid-column: 2/2;
  grid-row: 1/1;
  margin-block-start: 25px;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__theme-menu-button {
  background-color: transparent;
  font-family:  var(--accent-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  color: var(--decorated-color);
  border: none;
  padding-inline: 10px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--decorated-color);
  outline-offset: 3px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--decorated-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
  outline-offset: 3px;
  cursor: pointer;
}

.header__title {
  grid-column: 1/3;
  grid-row: 2/2;
  justify-self: center;
  font-family:  var(--accent-font, sans-serif);
  font-size: clamp(7.25rem, 6.3477rem + 3.8498vw, 9.8125rem);
  font-weight: 700;
  line-height: 95.7px;
  color: var(--main-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-inline: 10px;
}

.header__text {
  grid-column: 1/3;
  grid-row: 3/3;
  font-family: var(--accent-font, sans-serif);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--title-color);
  margin-block-end: 26px;
}

.title-decor {
  background-color: var(--title-decor-color);
  margin-inline: 10px;
}

/* Медиа для header */
@media (width >= 768px) {

  .header__rec {
    top: 20px;
    right: 26px;
  }

  .header__theme-menu {
    grid-column: 3/3;
    grid-row: 1/1;
    margin-block-start: 139px;
    margin-inline-end: 23px;
  }
  
  .header__title {
    grid-column: 1/3;
    grid-row: 2/2;
    justify-self: start;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: 3px;
  }
  
  .header__text {
    max-width: 364px;
    grid-column: 2/4;
    grid-row: 3/3;
    margin-inline-end: 20px;
    margin-block-end: 143px;
  }
}

@media (width >= 1024px) {

    .header {
      grid-template-columns: repeat(3, 1fr);
    }
    
    .header__theme-menu {
      grid-column: 2 / 2;
      grid-row: 1 / 1;
      align-self: flex-start;
      justify-self: center;
      margin-block-start: 22px;
      margin-inline-end: 0;
    }

    .header__title {
      grid-column: 1/4;
      grid-row: 2/2;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__theme-menu-list {
      display: flex;
      flex-direction: row;
    }
  
    .header__text {
      grid-column: 2/4;
      grid-row: 3/3;
      max-width: 491px;
      margin-block-end: 83px;
    }
}

/*  */

.content__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-start: 41px;
}

.focus {
  margin-block-start: 52px;
}

.recommendations {
  margin-block-start: 52px;
  gap: 15px;
}

.picture__content {
  margin-block-start: 52px;
}

.card__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-start: 8px;
}

.picture__container {
  display: flex;
  flex-direction: column;
  margin-inline: 10px;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color);
}


.card__link:hover {
  border-bottom: 1px solid var(--text-color);
  cursor: pointer;
}

.title {
  font-family:  var(--accent-font, sans-serif);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: var(--decorated-color);
  margin-inline: 10px;
}

.card__title {
  font-family:  var(--accent-font, sans-serif);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  text-align: left;
  color: var(--title-color);
}

.card__text-description {
  font-family:  var(--accent-font, sans-serif);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
  color: var(--text-color);
  margin-inline: 10px;
}

.picture__content-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recommendations-title {
  font-weight: 400;
}

/* медиа для секций */

@media ( width >= 768px) {

  .concentration {
    display: grid;
    grid-template-columns: 31% 1fr;
    column-gap: 24px;
    margin-inline: 10px;
    margin-block-start: 61px;
  }

  .focus {
    display: grid;
    gap: 19px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: min-content 1fr;
    margin-inline: 10px;
    margin-block-start: 78px;
  }

  .card__list {
    margin-block-start: 0;
    gap: 22px;
  }

  .focus> .title {
    grid-row: 1/1;
  }

  .focus > .card__list {
    grid-row: 2/2;
    grid-column: 1/3;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }

  .recommendations {
    display: grid;
    column-gap: 8px;
    row-gap: 18px;
    grid-template-columns: 33% 66%;
    grid-template-rows: min-content 1fr;
    margin-inline: 10px;
    margin-block-start: 77px;
  }

  .recommendations > .card__list {
    margin-block-start: 5px;
    row-gap: 19px;
    grid-row: 2/2;
    grid-column: 2/2;
  }

  .recommendations > .title {
    grid-row: 1/3;
  }

  .recommendations > .card__title {
    grid-row: 1/2;
    grid-column: 2/2;
    }

  .picture__content {
    margin-inline: 10px;
    margin-block-start: 81px;
  }

  .picture__container {
    display: grid;
    gap: 20px;
    margin-block-start: 10px;
  }

  .img-sunset {
    grid-column: 1/3;
    grid-row: 1/1 ;
  }

  .img-cream {
    grid-column: 3/3;
    grid-row: 1/3 ;
  }

  .img-books {
    grid-column: 2/2;
    grid-row: 2/2 ;
  }

  .img-stape {
    grid-column: 1/1;
    grid-row: 2/4 ;
  }

  .img-street {
    grid-column: 2/4;
    grid-row: 3/3 ;
  }

}
 
@media (width >= 1024px) {

  .concentration {
    margin-block-start: 60px
  }

  .focus {
    margin-block-start: 78px;
    margin-inline: 10px;
  }

  .focus > .card__list {
    display: grid;
    margin-block-start: 0;
    column-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .focus > .title {
    width: 30vw
  }

  .recommendations {
    margin-block-start: 82px;
    margin-inline-end: 10px;
    column-gap: 4px;
    grid-template-columns: 33% 2fr;
  }

  .recommendations > .card__list {
    gap: 19px;
  }

  .picture__content {
      margin-block-start: 81px;
  }
}
/*  */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
  height: max(668px, 100vh);
}

.footer__title {
  font-family:  var(--accent-font, sans-serif);
  font-size: clamp(7.25rem, 6.3477rem + 3.8498vw, 9.8125rem);
  font-weight: 700;
  line-height: 95.7px;
  text-align: left;
  color: var(--main-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}
@media (width >= 768px) {

  .footer {
    margin-block-start: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-block: 44vh;
  }
}
